.top-buffer { margin-top:20px; }

body {
  font-family: 'Futura', sans-serif;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.scene-box {
    border: 3px solid #ccc;
    margin-top:5%;
    padding-top:5%;
    padding-bottom: 5%;
}

#tryagain {
    display:none;
}

#nextPage {
    display:none;
}

#message {
    display:none;
}

.custom-cont-button {
    display:inline-block;
    line-height: 1.25;
    text-align:center;
    white-space: nowrap;
    vertical-align: middle;
    user-select:none;
    border: 0px solid transparent;
    padding: .2rem .2rem;
    font-size: 1rem;
    transition: all .2s ease-in-out;
    background-color: #FFFFFF !important;
}

.custom-cont-button:hover {
    display:inline-block;
    line-height: 1.25;
    text-align:center;
    white-space: nowrap;
    vertical-align: middle;
    user-select:none;
    border: 0px solid transparent;
    padding: .2rem .2rem;
    font-size: 1rem;
    background-color: #97FF93 !important;
    transition: all .2s ease-in-out;
}

