/* This sheet styles the math explantion pages.
 */


#math-1-title{
    font-size: 2em;
    color: #55B26B;
    text-align:center;
    font-weight:bold;
}

.explanation-text {
    font-size:1.2em;
}

#height-notice {
    margin-bottom:0%;
    margin-left:10%;
    padding-left:7%;
    padding-top: 10%;
}

.explanation-subhead {
    font-size:1.5em;
    color: #55B26B;
}

.text-col-here{
    padding-top:3%;
}

.vial-img {
}


.base-notation-text {
    font-size: 2.5rem;
}

.base-notation-col {
    padding-left: 10%;
    margin-left: 10%;
    padding-top:30%;
}

.lower-base-row {
    padding-top:60%;
}

#base-expl-text {
    margin-left:-65%;
    margin-top:20%;
    padding-top:120%;
    padding-right: 20%;
}

#base-title{
    padding-bottom: 0%;
    margin-top: 5%;
}

#base-expl {
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom:0%;
}

.custom-cont-button {
    display:inline-block;
    line-height: 1.25;
    text-align:center;
    white-space: nowrap;
    vertical-align: middle;
    user-select:none;
    border: 0px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    transition: all .2s ease-in-out;
    background-color: #FFFFFF;
}

.custom-cont-button:hover {
    display:inline-block;
    line-height: 1.25;
    text-align:center;
    white-space: nowrap;
    vertical-align: middle;
    user-select:none;
    border: 0px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: #97FF93;
    transition: all .2s ease-in-out;
}


